@media screen and (max-width:900px) {
  * {
    padding: 0;
    margin: 0;
  }
  .header {
    display: flex;
    justify-content: center;
  }
  .link-main {
    justify-self: center;
  }
  .modal-responce {
    width: 21.875em;
    height: 7.375em;
  }
  .modal-register { 
    min-width: 35vh;
   
    min-height: 7.375em;
  }
  .footer {
    padding: 0;
    margin: 0;
  }
  
}